
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


body{

    background:
    radial-gradient(circle at top,#00bfff33,transparent 40%),
    linear-gradient(
        135deg,
        #020617,
        #06192f,
        #003b5c
    );

    color:white;

    min-height:100vh;

    letter-spacing:.5px;

}



/* ПРОФИЛЬ */


.profile{

    width:92%;
    max-width:1200px;

    margin:35px auto;

    background:#08111f;

    border:2px solid #00bfff55;

    box-shadow:
    0 0 30px #00bfff33;

    border-radius:15px;

    overflow:hidden;

}




.banner{

    height:300px;

    position:relative;

}


.banner img{

    width:100%;
    height:100%;

    object-fit:cover;

    filter:
    contrast(120%)
    brightness(70%);

}





.profile-info{


    display:flex;

    align-items:center;

    gap:35px;

    padding:35px;


}



.avatar{

    width:170px;

    height:170px;

    border-radius:50%;

    object-fit:cover;


    border:

    4px solid #00c8ff;


    box-shadow:

    0 0 25px #00c8ff;


}




h1{

    font-size:42px;

    text-transform:uppercase;

    letter-spacing:3px;

}




p{

    color:#b9d9e8;

    line-height:1.6;

}






/* НАВИГАЦИЯ */


nav{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:15px;

margin:35px;


}



nav a{


text-decoration:none;

color:white;


background:#071525;


border:

2px solid #0099cc;


padding:14px 30px;


border-radius:8px;


font-weight:bold;


text-transform:uppercase;


transition:.3s;


}




nav a:hover{


background:#00aeea;


color:#00111d;


box-shadow:

0 0 25px #00bfff;


}





main{

width:92%;

max-width:1200px;

margin:auto;

}





section{

margin-bottom:60px;

}





h2{


font-size:32px;

text-transform:uppercase;


border-left:

8px solid #00c8ff;


padding-left:15px;


margin-bottom:25px;


}






/* БЛОКИ */


.box,
.card{


background:

linear-gradient(
145deg,
#071525,
#0b263d
);



border:

1px solid #0099cc;


border-radius:12px;


padding:25px;



box-shadow:

0 10px 30px #0008;


}




.cards{


display:grid;


grid-template-columns:

repeat(auto-fit,minmax(230px,1fr));


gap:25px;


}





.card{


position:relative;


overflow:hidden;


}



.card::before{


content:"";


position:absolute;


top:0;

left:0;


width:100%;

height:5px;


background:#00c8ff;


}





.card:hover{


transform:

translateY(-10px);


border-color:#00ffff;


box-shadow:

0 0 35px #00c8ff55;


}






/* ДРУЗЬЯ И АРТИСТЫ */


.friend img,
.artist img{


width:130px;

height:130px;


border-radius:15px;


object-fit:cover;



border:

3px solid #00bfff;


margin-bottom:15px;


}



.friend img{

border-radius:50%;

}




.card h3{


font-size:22px;


margin-bottom:10px;


text-transform:uppercase;


}






/* СОЦ СЕТИ */


footer{


margin-top:80px;


background:#020b14;


border-top:

2px solid #00bfff;


padding:50px;


text-align:center;


}




.socials{


display:flex;

justify-content:center;

gap:35px;


margin-top:25px;


}




.socials a{


background:#071525;


padding:15px;


border-radius:12px;


border:

2px solid #0099cc;


}




.socials img{


width:45px;

height:45px;


object-fit:contain;


filter:

brightness(1.2);


transition:.3s;


}



.socials a:hover{


background:#00bfff;


transform:

scale(1.15);


}





/* МАЛЕНЬКИЕ ИКОНКИ ДЛЯ КАРТОЧЕК */


.icon{


width:35px;

height:35px;


object-fit:contain;


margin-bottom:15px;


}






/* =====================
        PROFILE MUSIC
===================== */


.profile-music{

display:block;

}





.music-card{


margin-top:25px;


position:relative;


display:flex;


align-items:center;


gap:25px;


padding:25px;



background:


linear-gradient(

135deg,

#071525,

#002b45

);



border:

2px solid #00c8ff;



border-radius:20px;



overflow:hidden;



box-shadow:


0 0 40px #00c8ff33;



}




.music-card::before{


content:"";


position:absolute;


inset:0;


background:


linear-gradient(

90deg,

transparent,

#00c8ff22,

transparent

);



animation:

shine 4s infinite;


}



@keyframes shine{


from{

transform:translateX(-100%);

}


to{

transform:translateX(100%);

}


}






.music-cloud{


position:absolute;


width:250px;


height:100px;


right:-80px;


top:-40px;



background:


radial-gradient(

circle,

#00ffff66,

transparent

);



filter:blur(15px);


}






.music-info{


position:relative;


z-index:2;


flex:1;


}



.music-info h3{


font-size:25px;


text-transform:uppercase;


letter-spacing:2px;


}



.music-info p{


color:#00c8ff;


}







.music-controls{


display:flex;


gap:12px;


position:relative;


z-index:3;


}



.music-controls button{


width:45px;


height:45px;


border-radius:50%;


border:2px solid #00c8ff;



background:#061525;



color:white;


font-size:18px;


cursor:pointer;


transition:.3s;


}





.music-controls button:hover{


background:#00c8ff;


color:#001522;


box-shadow:


0 0 25px #00ffff;


}





.music-controls .main-play{


width:65px;


height:65px;


font-size:28px;


background:


linear-gradient(

145deg,

#00eaff,

#0077aa

);



box-shadow:


0 0 35px #00c8ff;


}





.music-wave{


position:absolute;


bottom:0;


left:0;


width:100%;


height:35px;


display:flex;


align-items:end;


gap:5px;


padding:0 20px;


}





.music-wave span{


width:5px;


height:15px;


background:#00d9ff;


border-radius:5px;


animation:


wave 1s infinite alternate;


}




.music-wave span:nth-child(2){

animation-delay:.2s;

}


.music-wave span:nth-child(3){

animation-delay:.4s;

}


.music-wave span:nth-child(4){

animation-delay:.6s;

}


.music-wave span:nth-child(5){

animation-delay:.8s;

}




@keyframes wave{


from{

height:10px;

}


to{

height:35px;

}



}






@media(max-width:700px){


.music-card{


flex-direction:column;


text-align:center;


}



.music-controls{


justify-content:center;


}


}
